<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="/v1/home">Home</a>
      <a href="/creage">Create User</a>
    </div>

    <div class="table-container">
      <div class="title">List Users</div>
      <table>
        <tr>
          <th>ID</th>
          <th>Emaill</th>
          <th>Name</th>
          <th>City</th>
        </tr>

        <!-- <% for (let i = 0; i < listUsers.length; i++) { %>
        <tr>
          <td><%= listUsers[i].id %></td>
          <td><%=listUsers[i].email %></td>
          <td><%= listUsers[i].name %></td>
          <td><%= listUsers[i].city %></td>
          <td>
            <button>Edit</button>
            <button>Detele</button>
          </td>
        </tr>
        <% } %> -->

        <ul>
          <% listUsers.forEach(function(User) { %>
          <tr>
            <td><%= User.id %></td>
            <td><%= User.email %></td>
            <td><%= User.name %></td>
            <td><%= User.city %></td>
            <td>
              <button>
                <a href="/edit/<%=User.id  %>">Edit</a>
              </button>
              <button>Detele</button>
            </td>
          </tr>
          <% }); %>
        </ul>
      </table>
    </div>
  </body>
</html>
